<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:object="${user}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title> [[${user.username}]] </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

    <!----------------------------- NavBar ----------------------------------------->

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/user"><img th:src="@{/images/logo.png}" alt="logo" width="70px" height="50px"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><h2>My Bank</h2></li>
            </ul>
            <br>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
                <li><a th:href="@{/app-logout}"><span class="glyphicon glyphicon-log-out"> Logout </span></a></li>
            </ul>
        </div>
    </nav>
</head>
<body>
<div class="container">
    <div class="main-body">

        <div class="row gutters-sm" th:object="${user}">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body" th:object="${account}"><h4>Current Amount</h4>
                        <span> Total </span>
                        <h1 class="font-bold">
                            [[${account.sold}]] €
                        </h1>
                        <hr>
                        <h6>The percentage of my expenses</h6>
                        <p>Plafond  : [[${account.ceiling}]] </p>

                    </div>
                </div>
                <hr>
                <!----------- methods for user -------------->
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h4>Mon compte</h4>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h4>Approvisionner mon compte</h4>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h4>Faire un transfert d'argent</h4>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h4><a href="/user/mesBeneficiaires">Mes bénéficiaires</a></h4>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h4>Mes dépenses</h4>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h4>Faire une opposition</h4>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h4>Historique</h4>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h4>Contactez-nous</h4>
                        </li>
                    </ul>
                </div>
            </div>
            <!--------- content page --------->

            <div class="col-md-8">
                <div class="container" style="width : 700px ">
                    <div class="card">
                        <div class="card-body" th:object="${beneficiary}">
                            <div class="container" style="width : 500px;" th:object="${accountBeneficiary}">
                                <fieldset>
                                    <legend><h1>Details du transfert</h1></legend>
                                    <form>
                                        <div class="form-group">
                                            <label>Compte Débiteur</label>
                                            <div>
                                                [[${account.accountNumber}]]<br>
                                                [[${account.sold}]] €
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <label>IBAN Bénéficiaire</label>
                                            <div>
                                                [[${accountBeneficiary.iban}]]<br>
                                                Bic : [[${accountBeneficiary.bic}]]
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <label for="branchCode">Libellé</label>
                                            <input type="text" class="form-control" id="branchCode"  Name="branchCode" required style="width : 300px">
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Montant</label>
                                            <input type="text" class="form-control" id="address"  Name="address" required style="width : 120px">
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <center>
                                                <button class="btn btn-primary" type="submit">Valider</button>
                                                <a class="btn btn-primary active" href="/login">Annuler</a>
                                            </center>
                                        </div>
                                    </form>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>