<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:object="${user}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title> Welcome [[${user.username}]] </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

    <!----------------------------- NavBar ----------------------------------------->

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/user"><img th:src="@{/images/logo.png}" alt="logo" width="70px" height="50px"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><h2>My Bank</h2></li>
            </ul>
            <br>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
                <li><a th:href="@{/app-logout}"><span class="glyphicon glyphicon-log-out"> Logout </span></a></li>
            </ul>
        </div>
    </nav>
</head>
<body>
    <div class="container">
        <div class="main-body">

            <div class="row gutters-sm" th:object="${user}">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body" th:object="${account}"><h4>Current Amount</h4>
                            <span> Total </span>
                            <h1 class="font-bold">
                                [[${account.sold}]] €
                            </h1>
                            <hr>
                            <h6>The percentage of my expenses</h6>
                            <p>Plafond  : [[${account.ceiling}]] </p>
                            <div class="flex-wrapper">
                                <div class="single-chart" th:object="${discovered}" >
                                    <svg viewBox="0 0 36 36" class="circular-chart orange">
                                        <path class="circle-bg"
                                              d="M18 2.0845
                                              a 15.9155 15.9155 0 0 1 0 31.831
                                              a 15.9155 15.9155 0 0 1 0 -31.831" />
                                        <path class="circle" stroke-dasharray="100"
                                              d="M18 2.0845
                                              a 15.9155 15.9155 0 0 1 0 31.831
                                              a 15.9155 15.9155 0 0 1 0 -31.831" />
                                        <text x="18" y="20.35" class="percentage">[[${discovered}]]%</text>
                                    </svg>
                                </div>

                                <div class="single-chart" th:object="${percent}">
                                    <svg viewBox="0 0 36 36" class="circular-chart green">
                                        <path class="circle-bg"
                                              d="M18 2.0845
                                              a 15.9155 15.9155 0 0 1 0 31.831
                                              a 15.9155 15.9155 0 0 1 0 -31.831" />
                                        <path class="circle" stroke-dasharray="100"
                                              d="M18 2.0845
                                              a 15.9155 15.9155 0 0 1 0 31.831
                                              a 15.9155 15.9155 0 0 1 0 -31.831" />
                                        <text x="18" y="20.35" class="percentage">[[${percent}]]%</text>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!----------- methods for user -------------->
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h4>Mon compte</h4>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h4>Approvisionner mon compte</h4>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h4>Faire un virement</h4>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h4><a href="/user/mesBeneficiaires">Mes bénéficiaires</a></h4>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h4>Mes dépenses</h4>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h4>Faire une opposition</h4>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h4>Historique</h4>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h4>Contactez-nous</h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--------- content page --------->

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h3 mb-3">Transactions</h1>
                            <table class="table table-striped" style="width:100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Sender</th>
                                    <th>Beneficiary</th>
                                    <th>Type of operation</th>
                                    <th>Sold</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                    <td>Garrett Winters</td>
                                    <td>Good Guys</td>
                                    <td>garrett@winters.com</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                </tr>
                                <tr>
                                    <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                    <td>Ashton Cox</td>
                                    <td>Levitz Furniture</td>
                                    <td>ashton@cox.com</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                </tr>
                                <tr>
                                    <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                    <td>Sonya Frost</td>
                                    <td>Child World</td>
                                    <td>sonya@frost.com</td>
                                    <td><span class="badge bg-danger">Deleted</span></td>
                                </tr>
                                <tr>
                                    <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                    <td>Jena Gaines</td>
                                    <td>Helping Hand</td>
                                    <td>jena@gaines.com</td>
                                    <td><span class="badge bg-warning">Inactive</span></td>
                                </tr>
                                <tr>
                                    <td><img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                    <td>Charde Marshall</td>
                                    <td>Price Savers</td>
                                    <td>charde@marshall.com</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                </tr>
                                <tr>
                                    <td><img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                    <td>Haley Kennedy</td>
                                    <td>Helping Hand</td>
                                    <td>haley@kennedy.com</td>
                                    <td><span class="badge bg-danger">Deleted</span></td>
                                </tr>
                                <tr>
                                    <td><img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                    <td>Tatyana Fitzpatrick</td>
                                    <td>Good Guys</td>
                                    <td>tatyana@fitzpatrick.com</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                </tr>
        </div>
    </div>

    </div>
</body>
</html>